.vscode/*
.idea/*
**/__pycache__/*
*.db
*.db-wal
*.db-shm
*.dump
!databases/data.db
.flask_secret
config.yaml
.python-version
.env
.venv/
logs/
static/images/operator_logos/
node_modules/
package.json
package-lock.json
server.js
venv/
city_percent/*
databases/cache/
