{% extends "bootstrap/layout.html" %}
{% block content %}

{% include nav%}

<style>
    #stationsTable tbody td {
        vertical-align: middle;
    }
    #stationsTable th {
        color: black;
        background-color: #f2f2f2; 
        border-top: 1px solid #dddddd !important;
    }
    #stationsTable_filter {
        margin-bottom: 5px;
    }
</style>

<div class="container">
    <h1 class="mt-3">Stations</h1>
    <table id="stationsTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Latin Name</th>
                <th scope="col">City</th>
                <th scope="col">Latin City</th>
                <th scope="col">CC</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Processed Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $('#stationsTable').DataTable({
        processing: true,
        serverSide: true,
        ajax: "{{ url_for('stations_data') }}",
        columns: [
            { data: 'name' },
            { data: 'latin_name' },
            { data: 'city' },
            { data: 'latin_city' },
            { data: 'country_code',
                render: function(data, type, row) {
                    if(type === 'display') {
                        return getTooltipNew(data);
                    }
                    return data;
                }
            },
            { data: 'latitude' },
            { data: 'longitude' },
            { data: 'processed_name' },
            { data: 'actions' }
        ],
        drawCallback: function(settings) {
            $('[data-toggle="tooltip"]').tooltip();
        },
        language: {
            info: "{{dtInfo}}",
            paginate: {
                next: "{{dtNext}}",
                previous: "{{dtPrevious}}",
            },
            emptyTable: "{{dtEmptyTable}}",
            select: {
                rows: {
                    "_": "{{dtMultipleLineSelected}}",
                    "0": "",
                    "1": "{{dtOneLineSelected}}"
                },
            },
            lengthMenu: "{{dtLengthMenu}}",
            search: "{{dtSearch}}"
        },
    });
</script>

{% endblock %}
