{% extends "layout.html" %}
{% block content %}

<div class="spinner-container"><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>

<div id="sidebar">
  <div id="sidebar-content">
    <ul class="events" id="itinerary">
      <div id="tripDetails"></div>
    </ul>
  </div>
</div>

<div id="map" class="mapIndiv">
</div>
<div id="snackbar">{{copyLink}}</div>
<script>

const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

var greenIcon = new L.Icon({
  iconUrl: "{{ url_for('static',filename='images/icons/marker-icon-2x-green.png') }}",
  shadowUrl: "{{ url_for('static',filename='images/icons/marker-shadow.png') }}",
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var redIcon = new L.Icon({
  iconUrl: "{{ url_for('static',filename='images/icons/marker-icon-2x-red.png') }}",
  shadowUrl: "{{ url_for('static',filename='images/icons/marker-shadow.png') }}",
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});
var redGreenIcon = new L.Icon({
  iconUrl: "{{ url_for('static',filename='images/icons/marker-icon-2x-redGreen.png') }}",
  shadowUrl: "{{ url_for('static',filename='images/icons/marker-shadow.png') }}",
  iconSize: [46, 41],
  iconAnchor: [23, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var satelliteIcon = new L.Icon({
  iconUrl: "{{ url_for('static',filename='images/icons/satellite.png') }}",
  shadowUrl: "{{ url_for('static',filename='images/icons/marker-shadow.png') }}",
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});
var calcIcon = new L.Icon({
  iconUrl: "{{ url_for('static',filename='images/icons/calc.png') }}",
  shadowUrl: "{{ url_for('static',filename='images/icons/marker-shadow.png') }}",
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});



function buildItinerary(trips){
  trips.forEach(function(trip, index){
    if(trip != trips[trips.length -1]){
      changeTime = timeDifference(
        trip.trip.utc_filtered_end_datetime,
        trips[index + 1].trip.utc_filtered_start_datetime
      ); 
      }
    else{changetime = 0}
    
    if (index == 0){
      if(trip.trip.start_date.length > 2){
        $('#tripDetails').text(capitalizeFirstLetter(new Date(trip.trip.start_date).toLocaleDateString('{{langId}}', dateOptions)));
      }
      else{
        $('#tripDetails').text("{{project}}");
      }
      
    }
    $('#itinerary').append(
      $('<li>').append(
        $('<time>').attr("datetime", trip.trip.start_time).text(trip.trip.start_time.padStart(10, '\xa0'))
      ).append(
        $('<span>').addClass(trip.trip.type).append(
          $('<strong>').text(trip.trip.origin_station)
        ).append('<br>').append(
          $("<div>").attr("class", "duration "+trip.trip.trip_duration[0]).append($('<div>').text(secondsToDhm(trip.trip.trip_duration[1], "{{langId}}")))
        )
      )
    ).append(
      $('<li>').append(
        $('<time>').attr("datetime", trip.trip.end_time).text(trip.trip.end_time.padStart(10, '\xa0'))
      ).append(
        $('<span>').attr("class", function(){
          if(trips.length > 1 && changeTime < 20000){
            return "trainChange";
          }
          else{
            return "tripChange";
          }
        }).append(
          $('<strong>').text(trip.trip.destination_station)
        ).append('<br>').append(function(){
          if(trip != trips[trips.length -1]){
            if(changeTime < 20000){
              if(changeTime != 0){
                changeTimeText = '<br>'+secondsToDhm(changeTime, "{{langId}}");
              }
              else{
                changeTimeText = "";
              }
              if (trip.trip.destination_station == trips[index + 1].trip.origin_station){
                return "{{trainChange}}"+changeTimeText
              }
              else{
                return "{{stationChange}}"+changeTimeText
              }
            }
          }
        })
      )
    );
    if(trips.length > 1 && changeTime > 20000 && trip != trips[trips.length -1]){$('#itinerary').append('<div id="tripDetails">'+ capitalizeFirstLetter(new Date(trips[index + 1].trip.start_date).toLocaleDateString('{{langId}}', dateOptions))+'</div><br>');}
  });
}

function getPopupContent(uid, origin_station, destination_station, start_date, start_time, end_time){
  var popupContent = "<p>" + origin_station + " - " + destination_station + "<br>";
  popupContent += start_date + " : " + start_time + " - " + end_time + "</p>";
  return popupContent
}


var theoryMarker = null;
var GPSMarker = null;

function placeTheoryIndicator(trips){
  if(trips.length > 0){
    trips.forEach(
      function(trip, index)
      {
       var current_ts = Date.now()
       var trip_start_ts = new Date(trip.trip.utc_filtered_start_datetime+"Z")
       var speed = trip.trip.trip_length/trip.trip.trip_duration[1]
       
       var elapsed_time = (current_ts - trip_start_ts)/1000;
       var theoretical_elapsed_distance = speed * elapsed_time

      var i = 0;
      while (i < trip.distances.length) {
        if (trip.distances[i] >= theoretical_elapsed_distance)
        {
          if (theoryMarker == null)
            {
                theoryMarker = L.marker(trip.path[i], {icon: calcIcon}).addTo(map);
            }
          else{
            var latLng = new L.LatLng(...trip.path[i]);
            theoryMarker.setLatLng(latLng);
          }
          break;
        }
        i++;
      }
      });
  }
}


function placeGPSIndicator(trips){
  if(trips.length > 0){
    trips.forEach(
      function(trip, index)
      { 
        navigator.geolocation.watchPosition(function(pos){
          var location = [pos.coords.latitude, pos.coords.longitude];
          if(GPSMarker == null){
              GPSMarker = L.marker(location, {icon: satelliteIcon}).addTo(map);
          }
          else{
            var latLng = new L.LatLng(...location);
            GPSMarker.setLatLng(latLng);
          }
        }
        );
      }
    );
  }
}

function placePolylines(trips){
  var group = new L.featureGroup();
  if(trips.length > 0){
    trips.forEach(
    function(trip, index)
    {
      var polyline = L.polyline(trip.path, { className: `polyline ${trip.time}Polyline` });
      var origLocation = trip.path[0];
      var destLocation = trip.path[trip.path.length - 1];
      var origMarker = L.marker(origLocation, {icon:markerIconStart}).bindPopup(trip.trip.origin_station).addTo(map);
      var destMarker = L.marker(destLocation, {icon:markerIconEnd}).bindPopup(trip.trip.destination_station).addTo(map);

      if (trip.trip.type == 'air'){
        const geodesic = new L.Geodesic([origLocation, destLocation], { className: `polyline airPolyline ${trip.time}Polyline`, wrap:false, steps:8 }).addTo(map);
    
        var geodesicPath = geodesic.getLatLngs()[0];
        var geodesicLimits = [geodesicPath[0], geodesicPath[geodesicPath.length - 1]];

        geodifiedPath = [];
        geodifiedDistances = [0];
        geodesicPath.forEach(function(node, index){
          geodifiedPath.push([node.lat, node.lng])
          if(index != 0){
           geodifiedDistances[index] = getDistanceFromLocations(geodesicPath[index-1], geodesicPath[index]) + geodifiedDistances[index-1];
          }
        });
        trip.path=geodifiedPath;
        trip.distances=geodifiedDistances;

        origMarker.setLatLng(geodesicLimits[0]);
        destMarker.setLatLng(geodesicLimits[1]);
        polyline = geodesic;

      }
      
      if (index!=0){
        group.addLayer(origMarker);
      }
      if(index != trips.length-1){
        group.addLayer(destMarker);
      }

      group.addLayer(polyline.bindPopup(
        getPopupContent(
          uid=trip.trip.uid,
          origin_station=trip.trip.origin_station,
          destination_station=trip.trip.destination_station,
          start_date=trip.trip.start_date,
          start_time=trip.trip.start_time,
          end_time=trip.trip.end_time,
        ), {autoPanPaddingTopLeft : [15, 100]})
      );
    }
  );

  if (window.innerWidth > 600){
    var autoPan = true;
  }
  else{
    var autoPan = false;
  }
  
  sidebar = L.control.sidebar('sidebar', {
      closeButton: true,
      position: 'right',
      autoPan: autoPan,
  }).addTo(map);

  group.addTo(map);
  map.fitBounds(group.getBounds());

  if (window.innerWidth > 600){
      setTimeout(function () {
      sidebar.show();
    }, 500);
  }
  else {
    setTimeout(function () {
      sidebar.show();
    }, 800);
  }

  }
  $('.spinner-container').hide();
}

function copyURL(){
  navigator.clipboard.writeText(window.location.href);
  $('#snackbar').attr('class','show');
  setTimeout(function(){ $('#snackbar').attr('class',''); }, 2900);
}

function leave(){
  history.back();
}

function openSidebar(){
  sidebar.show();
}
var map = createMap({
    map_legend: '{{legendTitle}}',
    train: '{{train}}',
    tram: '{{tram}}',
    metro: '{{metro}}',
    car: '{{car}}',
    walk: '{{walk}}',
    cycle: '{{cycle}}',
    air: '{{air}}',
    bus: '{{bus}}',
    ferry: '{{ferry}}',
    aerialway: '{{aerialway}}',
    future: '{{future}}',
    current: '{{current}}',
    project: '{{project}}'
},center=null);

L.Control.MyControl = L.Control.extend({
  onAdd: function(map) {
    var el = L.DomUtil.create('div', 'leaflet-bar futureToggle');

    el.innerHTML = '<button class="button" onclick="leave()">↩️</button>';
    el.innerHTML += '<button class="button" onclick="copyURL()">📋</button>';
    el.innerHTML += '<button class="button buttonSmall" onclick="openSidebar()">📖</button>';

    return el;
  }
});

L.control.myControl = function(opts) {
  return new L.Control.MyControl(opts);
}

L.control.myControl({
  position: 'topright'
}).addTo(map);


$.get('{{url_for("get_current_trip_path", username=username)}}', function(trips, status){
  trips.reverse();
  buildItinerary(trips);
  placePolylines(trips);
  placeGPSIndicator(trips);
  setInterval(function() {   
    placeTheoryIndicator(trips);
}, 500);
  $('.futurePolyline').show();
});

</script>

{% endblock %}