<!DOCTYPE html>
<html lang="{{ langId }}">

<head>
  <title>Train log</title>
  <meta charset="utf-8">
  
  <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ static_autoversion(filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ static_autoversion(filename='styles/style2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/lib/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/lib/Control.Geocoder.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/lib/leaflet-routing-machine.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/lib/L.Control.Sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/lib/leaflet-numbered-markers.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-ant-path@1.3.0/dist/leaflet-ant-path.js"></script>
  <script src="https://unpkg.com/osmtogeojson@2.2.12/osmtogeojson.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <script src="{{ url_for('static',filename='js/lib/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/localforage.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/Control.Geocoder.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/leaflet-routing-machine-antpath.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/L.Control.Sidebar.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/L.Geodesic.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/leaflet-numbered-markers.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lib/leaflet.geometryutil.js') }}"></script>
  <script src="{{ static_autoversion(filename='js/map.js') }}"></script>
  <script src="{{ url_for('static',filename='js/util.js') }}"></script>
  <script src="{{ static_autoversion(filename='js/routing.js') }}"></script>

  {% if not special_og %}
    <meta content="Trainlog" property="og:title" />
    <meta content="Your online travel diary" property="og:description" />
  {% else %}
    <meta content="{{og['title']}}" property="og:title" />
    <meta content="{{og['description']}}" property="og:description" />
  {% endif %}
    <meta content="{{request.url_root}}" property="og:url" />
    <meta content="{{ url_for('static',filename='images/logo_og.png', _external=True) }}" property="og:image" />
  
  <script>
    const langId = '{{langId}}' ? '{{langId}}' : 'en';
    const _regionNames = new Intl.DisplayNames(
      [langId], {type: 'region'}
    );
    const regionNames = {
      of(cc) {
        if (cc != "UN"){
          return _regionNames.of(cc);
        }
        else
        {
          return "{{internationalWaters}}"
        }

      }
    };
  </script>
</head>

<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>
