{% extends "bootstrap/layout.html" %}
{% block content %}

{% include "bootstrap/navigation.html" %}
<style>
  .form-control {
      width: 100%; /* Ensures that each form control takes up the full width of its parent column */
  }
</style>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="mb-3 text-center">{{new_ticket}}</h2>
      <form id="newTicketForm" action="{{ url_for('submit_ticket', username=username) }}" method="post" autocomplete="off">
        
        <div class="form-group mb-3">
          <label for="name">{{ticket_name}} :</label>
          <input type="text" class="form-control" id="name" name="name" required placeholder="{{enter_ticket_name}}">
        </div>
        
      <div class="row">
        <div class="col-sm-4 mb-3">
            <label for="ticket_price">{{price}} : </label>
            <input type="number" step="any" class="form-control" id="ticket_price" name="price" required placeholder="{{enter_ticket_price}}">
        </div>
        <div class="col-sm-4 mb-3">
            <label for="ticket_currency">{{currency}} : </label>
            <select class="form-control" id="ticket_currency" name="currency">
                {% for currency in currencyOptions %}
                <option value="{{ currency['currency'] }}" data-country="{{ currency['country'] }}" data-emoji="{{ currency.get('emoji', '') }}"
                    {% if currency['currency'] == user_currency %}selected{% endif %}>
                    {{ currency['currency'] }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <label for="ticket_purchasing_date">{{purchasing_date}} : </label>
            <input type="date" class="form-control" id="ticket_purchasing_date" name="purchasing_date" required>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="ticket_countries">{{ticketCountries}} : </label>
        <select class="form-control selectpicker" id="ticket_countries" data-none-selected-text="{{countriesNoneSelectedText}}" data-count-selected-text="{{countriesCountSelectedText}}" name="active_countries[]" multiple data-live-search="true" data-selected-text-format="count > 5" title="{{select_countries}}">
          {% for code, emoji in country_list.items() %}
              <option value="{{ code }}" data-code="{{ code }}">
                  {{ emoji }}
              </option>
          {% endfor %}
      </select>
      </div>
        
        <div class="form-group mb-3">
          <label for="notes">{{notes}} : </label>
          <textarea class="form-control" id="notes" name="notes" placeholder="{{ additional_notes }}"></textarea>

        </div>

        <button type="submit" class="btn btn-primary w-100">{{submit}}</button>
      </form>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        // Format currency select with flag emojis
        const currencySelect = document.getElementById('ticket_currency');
        for (let option of currencySelect.options) {
            const emoji = option.dataset.emoji || getFlagEmoji(option.dataset.country);
            option.text = `${option.text} ${emoji}`; // Prepend the emoji to the option text
        }
    });

    const ticketCountriesSelect = $("#ticket_countries");
    updateCountryNames(ticketCountriesSelect.get(0), true);
    ticketCountriesSelect.selectpicker();
</script>

{% endblock %}
