{% extends "layout.html" %}
{% block content %}

<div class="spinner-container"><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>


<div id="map" class="mapIndiv">
</div>

<div id="time-slider-container" style="position: absolute; width:90%; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;">
    <input type="range" id="time-slider" min="0" max="100" value="0" oninput="updateMapByTime(this.value)" style="width: 100%;">
    <!-- Display for current time and date with background -->
    <div id="current-time-display" style="margin-top: 10px; text-align: center; color: #555; font-size: 16px; background-color: rgba(255, 255, 255, 0.8); padding: 5px 10px; border-radius: 8px;">
        Current Time: <span id="time-display">-</span>
    </div>
</div>


<script>


var userMarkers = {};
var multiMarkers = {};

function getPopupContent(uid, origin_station, destination_station, start_date, start_time, end_time, username) {
  var popupContent = `
    <div style="font-size: 14px; color: #333;">
      <strong>${username}</strong>
      <p>${origin_station} - ${destination_station}<br>
      Date: ${start_date}<br>
      Time: ${start_time} - ${end_time}</p>
    </div>`;
  return popupContent;
}


var map = createMap(null, center=null);
var minTimestamp, maxTimestamp;

function initializeSlider() {
    var timestamps = [];
    window.tripGroup.eachLayer(function(layer) {
      if (layer.startTimestamp !== 0 && layer.endTimestamp !== 0) {
          timestamps.push(layer.startTimestamp);
          timestamps.push(layer.endTimestamp);
      }
    });

    minTimestamp = Math.min(...timestamps);
    maxTimestamp = Math.max(...timestamps);

    // Setup slider
    var slider = document.getElementById('time-slider');
    slider.min = minTimestamp;
    slider.max = maxTimestamp;
    slider.value = minTimestamp;
    slider.step = (maxTimestamp - minTimestamp) / 1000; // Adjust granularity as needed
}

function updateMapByTime(value) {
    var currentTime = parseInt(value);
    document.getElementById('current-time-display').innerHTML = new Date(currentTime).toLocaleString();

    // Remove existing pie markers and reset user markers to visible
    Object.keys(multiMarkers).forEach(function(username) {
        map.removeLayer(multiMarkers[username]); // Remove pie marker from map
    });
    multiMarkers = {}; // Reset multiMarkers object

    Object.keys(userMarkers).forEach(function(username) {
        userMarkers[username].setOpacity(1); // Reset opacity to make all markers visible
        userMarkers[username].on('click', () => userMarkers[username].openPopup()); // Reset opacity to make all markers visible
    });

    window.tripGroup.eachLayer(function(layer) {
        if (currentTime >= layer.startTimestamp && currentTime <= layer.endTimestamp) {
            var duration = layer.endTimestamp - layer.startTimestamp;
            var progress = (currentTime - layer.startTimestamp) / duration;
            var pathLength = layer.originalLatLngs.length;
            var visibleLength = Math.floor(pathLength * progress);
            layer.setLatLngs(layer.originalLatLngs.slice(0, visibleLength + 1));

            var currentUserMarker = userMarkers[layer.trip.username];
            if (currentUserMarker) {
                currentUserMarker.setLatLng(layer.originalLatLngs[Math.min(visibleLength, pathLength - 1)]);
            }
        } else if (currentTime < layer.startTimestamp) {
            layer.setLatLngs([]);
        } else if (currentTime > layer.endTimestamp) {
            layer.setLatLngs(layer.originalLatLngs);
            var currentUserMarker = userMarkers[layer.trip.username];
            if (currentUserMarker) {
                currentUserMarker.setLatLng(layer.originalLatLngs[layer.originalLatLngs.length - 1]);
            }
        }
    });

    // Initialize a dictionary to keep track of groups
    let groups = {};

    Object.keys(userMarkers).forEach(function(username1, index, array) {
        var marker1 = userMarkers[username1];
        if (!marker1) return;  // Skip if the marker does not exist

        array.slice(index + 1).forEach(function(username2) {
            var marker2 = userMarkers[username2];
            if (marker2 && marker1.getLatLng().distanceTo(marker2.getLatLng()) < 2000) {
                // Hide the original markers
                marker1.setOpacity(0);
                marker2.setOpacity(0);
                marker1.off('click');
                marker2.off('click');


                // Group the markers
                let found = false;
                Object.keys(groups).forEach(function(group) {
                    if (groups[group].includes(username1) || groups[group].includes(username2)) {
                        groups[group].push(username1, username2);
                        groups[group] = [...new Set(groups[group])];  // Ensure unique usernames
                        found = true;
                    }
                });
                if (!found) {
                    let newGroupKey = `${username1}_${username2}`;
                    groups[newGroupKey] = [username1, username2];
                }
            }
        });
    });

    // Create pie-style markers for each group
    Object.values(groups).forEach(group => {
        if (group.length > 0) {
            let colors = group.map(username => {
                return userMarkers[username].options.icon.options.html.match(/background-color: ([^;]+);/)[1];
            });
            let usernamesString = group.join(', ');
            let latLng = userMarkers[group[0]].getLatLng();  // Position of the first marker in the group
            let pieIconHtml = createPieIcon(colors);
            
            let pieIcon = L.divIcon({
                html: pieIconHtml,
                className: 'user-custom-icon',
                iconSize: [20, 20],
                iconAnchor: [10, 10],
                popupAnchor: [0, -10]
            });

            let pieMarker = L.marker(latLng, {icon: pieIcon}).bindPopup(`Users: ${usernamesString}`);
            pieMarker.addTo(map);
            multiMarkers[group.join('_')] = pieMarker; // Store the new marker in multiMarkers for later removal
        }
    });
}


function createPieIcon(colors) {
    const pieSize = 20; // Size of the SVG
    let svgStart = `<svg width="${pieSize}" height="${pieSize}" viewBox="0 0 20 20">`;
    let svgEnd = '</svg>';
    const center = 10; // Center x and y (since viewBox is 20)
    let paths = [];
    let angleIncrement = 2 * Math.PI / colors.length;

    for (let i = 0; i < colors.length; i++) {
        // Calculate the start and end points for each segment
        let angleStart = angleIncrement * i - Math.PI / 2; // Start angle adjusted by -90 degrees to align vertically
        let angleEnd = angleStart + angleIncrement; // End angle for this segment

        // Calculate the coordinates for the points on the circle
        let x1 = center + center * Math.cos(angleStart); // Start x
        let y1 = center + center * Math.sin(angleStart); // Start y
        let x2 = center + center * Math.cos(angleEnd); // End x
        let y2 = center + center * Math.sin(angleEnd); // End y

        // Define the large-arc-flag (0 for small angles, 1 for larger than 180 degrees)
        let largeArc = (angleIncrement > Math.PI) ? 1 : 0;

        // Create path description for the current segment
        let pathD = `M${center},${center} L${x1},${y1} A${center},${center} 0 ${largeArc},1 ${x2},${y2} Z`;

        // Append the SVG path element string for this segment
        paths.push(`<path d="${pathD}" fill="${colors[i]}"/>`);
    }

    // Combine all SVG path elements with the SVG container
    return svgStart + paths.join('') + svgEnd;
}


function placePolylines(trips, colours){
    var group = new L.featureGroup();
    trips.forEach(function(trip) {
    var color = colours[trip.trip.username] ? `rgb(${colours[trip.trip.username].map(c => Math.round(c * 255)).join(',')})` : 'rgb(255, 255, 255)';
    var polylineOptions = {
        color: color,
        className: trip.trip.type === "air" ? `polyline airPolyline` : `polyline`
    };
    var poly;
    if (trip.trip.type !== "air") {
        poly = L.polyline(trip.path, polylineOptions).bindPopup(getPopupContent(
            trip.trip.uid, trip.trip.origin_station, trip.trip.destination_station,
            trip.trip.start_date, trip.trip.start_time, trip.trip.end_time,
            trip.trip.username
        ), {autoPanPaddingTopLeft: [15, 100]});
    } else {
            polylineOptions.steps = 15; // Define the number of steps for the geodesic curve
            polylineOptions.className += ` airPolyline`; // Additional class for air trips
            tempPoly = L.geodesic(trip.path, polylineOptions);
            
            // Redefine trip.path to the generated geodesic polyline's path
            trip.path = tempPoly.getLatLngs().flat(); // Flatten in case it's an array of arrays

            poly = L.polyline(trip.path, polylineOptions).bindPopup(getPopupContent(
                trip.trip.uid, trip.trip.origin_station, trip.trip.destination_station,
                trip.trip.start_date, trip.trip.start_time, trip.trip.end_time,
                trip.trip.username
            ), {autoPanPaddingTopLeft: [15, 100]});
        }


    poly.originalLatLngs = trip.path;
    poly.startTimestamp = new Date(trip.trip.utc_start_datetime).getTime();
    poly.endTimestamp = new Date(trip.trip.utc_end_datetime).getTime();
    poly.trip = trip.trip;  // Store trip data in the layer for easy access

    // Create a marker for each user if it doesn't already exist
    if (!userMarkers[trip.trip.username]) {
        var customIcon = L.divIcon({
            html: `<span style="background-color: ${color}; width: 10px; height: 10px; display: block; border-radius: 50%; border: 2px solid white;"></span>`,
            className: 'user-custom-icon',
            iconSize: [20, 20],
            iconAnchor: [10, 10],
            popupAnchor: [0, -10]
        });
        var marker = L.marker(trip.path[0], {icon: customIcon}).bindPopup(trip.trip.username);
        marker.addTo(map);
        userMarkers[trip.trip.username] = marker;
    }

    group.addLayer(poly);
});


    window.tripGroup = group;
    group.addTo(map);
    map.fitBounds(group.getBounds());
    $('.spinner-container').hide();

    initializeSlider();
}



$.get('{{url_for("getMultiTrips", tripIds=tripIds)}}', function(data, status){
  var trips = data[0];
  var prices = data[1];
  var colours = data[2];
  trips.reverse();
  placePolylines(trips, colours);
  $('.futurePolyline').show();
});

</script>

{% endblock %}